apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: secdemo

commonAnnotations:
  argocd.argoproj.io/sync-wave: "0"

resources:
  - ns.yaml
  - is.yaml
  - build.yaml
  - deployment.yaml
  - service.yaml
  - route.yaml
